{% extends 'home/index.html' %}
{% block head_js %}

    <meta name="description" content="Respite care for disabled children. Children's respite in Basildon">
    <title>Share</title>

{% endblock %}

{% block content %}

    <h1 class="title">Welcome to Share. The Safe Haven & Respite Environment</h1>

    <div class="page-img">

        {% for slide in slides %}
            {% if slide.img %}
                <img class='mySlides fade' src="{{ slide.img.url }}">
            {% endif %}
        {% endfor %}
    </div>
    

    

    <article id="landing">
        <h2>Do you have a disabled child? (aged 3-19 years)</h2>

        <p>As a registered charity we have been supporting families since 1982. We offer a wide range of opportunities
            for young people with disabilities. We do this through our holiday and out of school clubs with a range
            of fun activities within a happy safe and relaxed environment. We have a high staff ratio and are all highly
            qualified and CRB checked.</p>
    </article>

    <div class="flex">
        <div class="col-sm-3 info">
            <h2>What We Do</h2>
            <p>We’ve created activities that are fun, smart, and save the day when school is out. We have preschool and
                school-age programs that kids love, and we offer flexible scheduling options to meet the needs of busy
                families like yours.</p>
        </div>

        <div class="col-sm-3 info">
            <h2>How We Do It</h2>
            <p>Every child is different, but they all have one thing in common. They like to have fun! That’s why we’ve
                designed many different programs for summertime that are safe, conveniently located and flexible enough
                to work with your busy schedule. </p>
        </div>

        <div class="col-sm-3 info">
            <h2>Why We Do It</h2>
            <p>As a registered charity we have been supporting families since 1982. Not only will your child have a chance
            to be part of something they’re already interested in, they’ll have a chance to discover something brand new.</p>
        </div>

        <div class="col-sm-3 info">
            <h2>Activities</h2>
            <ul>
                <li>Arts & Crafts!</li>
                <li>A fantastic Garden with bikes and toys!</li>
                <li>Soft play and sensory room!</li>
                <li>Playsation, Nitendo Wii & Computers!</li>
                <li>Face Painting!</li>
            </ul>
        </div>
    </div>

    <script type="text/javascript">
        var slideIndex = 0;
        carousel();


        function carousel() {
            var i;

            var x = $(".mySlides");

            for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";
            }

            slideIndex++;

            if (slideIndex > x.length) {slideIndex = 1}

            x[slideIndex-1].style.display = "block";

            setTimeout(carousel, 6000); // Change image every 2 seconds
        }
    </script>


{% endblock %}


