{% extends 'home/index.html' %}


{% block content %}

    <div id="landing">
        <div class="container">
            <img id=logo src="/static/imgs/LOGO.png">

            <div id="nav-icons">
                <div class="icon container">
                    <a><span class="glyphicon glyphicon-home"></span></a>
                </div>

                <div class="icon container">
                    <a href="/staff/"><span class="glyphicon glyphicon-user blue"></span>
                    <h2>Staff</h2></a>
                </div>

                <div class="icon container">
                    <a href="/testimonials/"><span class="glyphicon glyphicon-file"></span>
                    <h2>Testimonials</h2></a>
                </div>

                <div class="icon container">
                    <a href="/staff-gallery/"><span class="glyphicon glyphicon-th-large blue"></span></a>
                </div>

                <div class="icon container">
                    <span class="glyphicon glyphicon-envelope"></span>
                </div>
            </div>


        </div>
    </div>
{% endblock %}

