{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHARE</title>


    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="/static/bootstraps/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">

    {% block head_css %}

    {% endblock %}

    <script src="/static/js/jquery.js"></script>
    <script src="/static/bootstraps/js/bootstrap.js"></script>

    {% block head_js %}

    {% endblock %}



</head>
<body>

    <nav>
        <div class="brand">
            <img src="/static/imgs/Logo2.png">
        </div>

        <div class="nav-links">
            <a class="nav-btn active">Home</a>
            <a class="nav-btn">Testimonials</a>
            <a class="nav-btn">About Us</a>
            <a  href="/staff/" class="nav-btn">Meet Our Staff</a>
            <a class="nav-btn">Information</a>
            <a class="nav-btn">Contact Us</a>
        </div>


        <div class="social">
            <div class="s-link"><img src="/static/imgs/icons/Facebook.png"><a>Facebook</a></div>
            <div class="s-link"><img src="/static/imgs/icons/Twitter.png"><a>Twitter</a></div>
        </div>
    </nav>

    <div id='block' class="container">
        {% block content %}

        {% endblock %}
    </div>

</body>
</html>

