{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHARE</title>


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Bitter|Indie+Flower|Josefin+Sans|Nunito|Raleway|Work+Sans" rel="stylesheet">

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">

    {% block head_css %}

    {% endblock %}

    <script src="/static/js/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>


    {% block head_js %}

    {% endblock %}
</head>
<body>
    <div class="container">


        <nav>
            <div class="brand">
                <img src="/static/imgs/Logo2.png">
            </div>

            <div class="nav-links">
                <a href="/" class="nav-btn">Home</a>
                <a href ="/testimonials/" class="nav-btn">Testimonials</a>
                <a href="/staff/" class="nav-btn">Meet Our Staff</a>
                <a href="" class="nav-btn">Information</a>
                <a href="/contact-us/" class="nav-btn">Contact Us</a>
            </div>


            <div class="social">
                <div class="s-link"><img src="/static/imgs/icons/Facebook.png"><a>Facebook</a></div>
                <div class="s-link"><img src="/static/imgs/icons/Twitter.png"><a>Twitter</a></div>
            </div>
        </nav>



        <div class="content">
            {% block content %}

            {% endblock %}
        </div>
    </div>

    <footer class="panel-footer container">
        <a href="/">Home</a>
        <a href ="/testimonials/">Testimonials</a>
        <a href="/staff/">Meet Our Staff</a>
        <a href="">Information</a>
        <a href="/contact-us/">Contact Us</a>
    </footer>


</body>
</html>

