{% extends 'home/index.html' %}

{% block head_js %}

    <title>Information</title>
{% endblock %}

{% block content %}
    <h1 class="title">Information</h1>

    {% autoescape off %}


        <div class="info-page">
            <div>
                {% for info_content in info %}

                    <div id="info-content">
                        {{ info_content.info }}
                    </div>

                {% endfor %}
            </div>

            <div id="corkboard">

                {% for note in notes %}

                    <div class="notes">
                        <div class="pin-header">
                            <div class='pin'></div>
                        </div>
                        <p>{{ note.content }} </p>
                    </div>

                {% endfor %}
            </div>
        </div>
        
        <div class="sponsers">
            {% for sponser in sponsers %}
                <div class="sponser">
                    <img src="{{ sponser.img.url }}">
                </div>
            
            {% endfor %}
            
        </div>


{% endautoescape %}
{% endblock %}