{% extends 'home/index.html' %}


{% load staticfiles %}

    {% block head_js %}
        <title>Testimonails</title>
        <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
        <script>
            tinyMCE.init({mode: "textareas", theme: 'modern', plugins: 'paste'});
            $(document).ready(function () {
                i = 1;

                $('.testimony').each(function () {
                    $(this).addClass('anim' + i);
                    i += 1;
                });
            });
        </script>
    {% endblock %}

    {% block content %}
        <h1 class="title">What Our Friends Say!</h1>
        <div class="blackbaord">
            <div class="content-slider">
                <div class="slider">
                    <div class="mask">
                        {% for testimony in list%}
                            {% if testimony.id < 6 %}
                                <article class="testimony">
                                    <h1>{{ testimony.title }}</h1>
                                    {% autoescape off %}
                                        <p class="quote">{{ testimony.content }}</p>
                                        <p class="source">{{ testimony.author }}</p>
                                </article>
                                    {% endautoescape %}
                            {% endif %}
                        {% endfor %}
                        <p class="help-chalk">Hover with your mouseto pause!</p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}