{%  extends 'home/index.html' %}

{% block head_css %}
    <style type="text/css">
        body {
            background-color: #e0e0e0;
        }
    </style>
{% endblock %}

{% block head_js %}

    <title>Meet Our Staff </title>

    <script type="text/javascript">

        $(document).on('mouseover', '.staff-details', function () {
            thisimg = $(this);

            $(this)
                .find('img')
                .fadeTo(200, 0);

            $(this)
                .find('.bio')
                .css('top', thisimg.offset().top)
                .css('display', 'flex')
                .fadeTo(200, 1);
        });

        $(document).on('mouseleave', '.staff-details', function () {
            thisimg = $(this);

            $(this)
                .find('img')
                .fadeTo(200, 1);

            $(this)
                .find('.bio')
                .fadeTo(200, 0);
        });

        $(document).ready(function () {
            $('span').css('font-family', 'Josefin Sans' ).css('font-size', '12px')
        })


    </script>
{% endblock %}

{% block content %}

        <h1 class="title">Meet Our Staff</h1>

        <div class="staff">
            {% for staff in staff.order_by %}
                {% if 'Play Worker' not in staff.role %}
                    <div class="staff-profile">
                        <div class="staff-details">
                            <img class='img' src="{{ staff.staff_image.url }}">

                            {% autoescape off %}
                                <div class="bio">
                                    <p>{{ staff.bio }}</p>
                                </div>
                            {% endautoescape %}
                        </div>
                        <h1>{{ staff.user }}</h1>
                        <p>{{ staff.role }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <h2 class="sub-title">Play Workers</h2>

        <div class="staff">

            {% for staff in staff %}
                {% if 'Play Worker' in staff.role %}
                    <div class="staff-profile">
                        <div class="staff-details">
                            <img class='img' src="{{ staff.staff_image.url }}">

                            {% autoescape off %}
                                <div class="bio">
                                    <p>{{ staff.bio }}</p>
                                </div>
                            {% endautoescape %}
                        </div>
                        <h1>{{ staff.user }}</h1>
                        <p>{{ staff.role }}</p>
                    </div>
                {% endif %}
            {% endfor %}


        </div>





{% endblock %}