/* Index */
#block {
    margin-top: 150px;
    padding-top: 50px;

}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;
    background-color: #5bc0de;

    display: flex;
    flex-direction: row;
}

.brand {
}

.brand img {
    height: 150px;
    width: auto;
    padding: 10px;
}

.nav-links {
    width: 80%;
    display:flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

}

.nav-btn{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    padding: 0 5px;
    text-align: center;
    color: #FFFFFF;
}

.nav-btn:hover{
    background-color: #fff957;
    color: #FFFFFF;
    text-decoration: none;
}

.active {
    background-color: rgba(251, 253, 255, 0.4);
}
.nav-btn:nth-child(even){
}
.social {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;

}
.s-link{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.s-link img {
    width: 30px;
    height: 30px;
    margin: 5px 5px;
}






/* Home */

body {
    background-image: url("/static/imgs/share-border1.jpg");
}

.container {
    background-color: #FFFFFF;
    height: 1000px;
    width: 70%;
}

.page-img {
    display: flex;
    justify-content: center;
}
.page-img img {
    width: 80%;
    height: auto;
}











/* Staff Imagees */

.title {
    font-size: 2em;
    text-align: center;
    padding-bottom: 40px;
}

#staff {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.staff-profile {
    margin-bottom: 15px;
}
.staff-details {
    margin: 5px;
}
.staff-details img {
    width: 250px;
    height:300px;
}
.staff-profile h1 {
    font-size: 2em;
    text-align: center;
}

.bio {
    width: 250px;
    height: 300px;
    text-align: center;
    opacity: 0;
    position: absolute;
    padding: 50px 10px;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5bc0de;

}