{%  extends 'home/index.html' %}

{% block content %}

    <h1 class="title">Privacy & Cookies</h1>

    <div id="privacy">

    {% for priv in privacy  %}
        <p>{{ priv.info }}</p>

    {% endfor %}


        <p>Share is committed to protecting the privacy and security of your personal data.
            This Privacy Notice informs you of the cookies we use on this website and what they do.</p>

        {% for cookie in cookies %}
            {% autoescape off %}
                <div class="cookie">
                    <h2>{{ cookie }}</h2>
                    <p>{{ cookie.desription }}</p>
                </div>
            {% endautoescape %}
        {% endfor %}
    </div>
{% endblock %}