{%  extends 'home/index.html' %}

{% block content %}

    <h1 class="title">Privacy & Cookies</h1>

    <div id="privacy">

        {% for priv in privacy  %}
            {% autoescape off %}
                <p>{{ priv.info }}</p>
            {% endautoescape %}
        {% endfor %}

        {% for cookie in cookies %}
            {% autoescape off %}
                <div class="cookie">
                    <h2>{{ cookie }}</h2>
                    <p>{{ cookie.desription }}</p>
                </div>
            {% endautoescape %}
        {% endfor %}
    </div>
{% endblock %}